.header .nav > li {
  margin: 0px;
  padding: 0px;
}

.header .nav > li > a {
  color: black;
}

.header .nav > li > a:hover {
  color: gray;
}

.header .navbar-inner {
  background-image: none !important;
  background-color: white !important;
}

.header .btn-navbar {  
  background-color: #b4dbeb !important;
  height: 26px;
  width: 26px;
} 

.header .nav .dropdown-toggle:hover, 
.header .nav .dropdown.open .dropdown-toggle {
  background-color: #b4dbeb !important;
}

.header .nav li.dropdown .dropdown-toggle i {
  color: #808080 !important;
}

@media (max-width: 767px) { 
	/***
	Page header
	***/
	.header .navbar-inner .container-fluid {
		margin-left: 26px !important;
		margin-right: 10px !important;
	}
}

.page-sidebar > ul > li.active > a{
  background: #b4dbeb !important;
  color: black !important;
}

.page-sidebar {
    border-top: 0px solid #e2e2e2 !important;
}

.page-content
{
    border-left: 0px !important;
}

@media (max-width:979px) { 
  .page-sidebar {
      border-top: 0px !important;
  }
  .navbar-fixed-top {
	margin-bottom: 0px !important;
  }
}

.dashboard-stat.custom{
	background-color: rgb(128, 202, 233);
}